* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 1200px;
}

h1 {
   letter-spacing: 2px;
   margin:  5vh;
   width: 400px;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
}

.topmenu{
   position: absolute;
   right: 40px;
   top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
   display: inline-block;
}

li a {
   margin: 10px auto;
   text-align: right;
   float: left;
   text-decoration: none;
   color: grey;
   padding: 10px 10px;
   width:50px;
   text-transform: lowercase;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}

li a:hover {
    color: black;
}

img{
    -webkit-filter: grayscale(0);
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
}
img:hover{
   -webkit-filter: grayscale(1);
  transform: scale(1.1,1.1);
}


@media (max-width: 1280px) {
  body {
    width: 800px;
  }
}
@media (max-width: 880px) {
  body {
    width: auto;
  }
}
nav, main, footer {
  border: 1px solid #000;
}

main {
  border: 0;
}

@media (max-width: 1280px) {
  main {
  }
}
.card {
  line-height: 0;
}

@media (max-width: 1280px) {
  .card {
    width: auto;
  }
}
.card img {
   width: 400px;
}

@media (max-width: 1280px) {
  .card img {
  }
}
@media (max-width: 880px) {
  .card img {
    width: 100%;
  }
}
